In [2]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv("/content/drive/MyDrive/ML Dataset/Practo/practo_cleandata.csv")

In [4]:
df

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,"BDS, MDS - Prosthodontics, Fellowship and Dipl...",Dentist,17 years experience overall,"Vasant Vihar,",Delhi,99%,623 Patient Stories,₹500
1,Dr. Meeka Gulati,"BDS, MDS - Conservative Dentistry & Endodontics",Dentist,15 years experience overall,"Janakpuri,",Delhi,97%,108 Patient Stories,₹500
2,Dr. Aparna Singhal,"BDS, MDS - Prosthodontics",Dentist,14 years experience overall,"Punjabi Bagh,",Delhi,98%,96 Patient Stories,₹300
3,Dr. Prashant Ojha,"MDS - Periodontology and Oral Implantology, Ce...",Dentist,16 years experience overall,"Saket,",Delhi,92%,104 Patient Stories,₹300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10 years experience overall,"Rohini Sector 18,",Delhi,100%,74 Patient Stories,₹400
...,...,...,...,...,...,...,...,...,...
5053,Dr. Sreesha N,"MBBS, MD - Obstetrics & Gynaecology",Dentist,18 years experience overall,"Yelahanka New Town,",Bangalore,100%,10 Patient Stories,₹300
5054,Dr. Roshan Varghese,"MBBS, DGO, DNB - Obstetrics & Gynecology, Dipl...",Dentist,14 years experience overall,"Horamavu,",Bangalore,100%,55 Patient Stories,₹300
5055,Dr. Vinayak Raghunathan,"MBBS, DGO",Dentist,14 years experience overall,"JP Nagar,",Bangalore,100%,145 Patient Stories,₹500
5056,Dr. Idris Md,"MBBS, MS - Obstetrics & Gynaecology, DGO, DNB ...",Dentist,13 years experience overall,"Jayanagar 5 Block,",Bangalore,99%,131 Patient Stories,₹300
5057,Dr. Prahlad Shenava,"MBBS, MD - Obstetrics & Gynaecology",Dentist,12 years experience overall,"Whitefield,",Bangalore,98%,58 Patient Stories,₹300

In [ ]:
df.drop(columns = "Unnamed: 0", inplace=True)

In [5]:
df

,Name,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,Dr. Sourabh Nagpal,"BDS, MDS - Prosthodontics, Fellowship and Dipl...",Dentist,17 years experience overall,"Vasant Vihar,",Delhi,99%,623 Patient Stories,₹500
1,Dr. Meeka Gulati,"BDS, MDS - Conservative Dentistry & Endodontics",Dentist,15 years experience overall,"Janakpuri,",Delhi,97%,108 Patient Stories,₹500
2,Dr. Aparna Singhal,"BDS, MDS - Prosthodontics",Dentist,14 years experience overall,"Punjabi Bagh,",Delhi,98%,96 Patient Stories,₹300
3,Dr. Prashant Ojha,"MDS - Periodontology and Oral Implantology, Ce...",Dentist,16 years experience overall,"Saket,",Delhi,92%,104 Patient Stories,₹300
4,Dr. Anukriti Bansal Aggarwal,BDS,Dentist,10 years experience overall,"Rohini Sector 18,",Delhi,100%,74 Patient Stories,₹400
...,...,...,...,...,...,...,...,...,...
5053,Dr. Sreesha N,"MBBS, MD - Obstetrics & Gynaecology",Dentist,18 years experience overall,"Yelahanka New Town,",Bangalore,100%,10 Patient Stories,₹300
5054,Dr. Roshan Varghese,"MBBS, DGO, DNB - Obstetrics & Gynecology, Dipl...",Dentist,14 years experience overall,"Horamavu,",Bangalore,100%,55 Patient Stories,₹300
5055,Dr. Vinayak Raghunathan,"MBBS, DGO",Dentist,14 years experience overall,"JP Nagar,",Bangalore,100%,145 Patient Stories,₹500
5056,Dr. Idris Md,"MBBS, MS - Obstetrics & Gynaecology, DGO, DNB ...",Dentist,13 years experience overall,"Jayanagar 5 Block,",Bangalore,99%,131 Patient Stories,₹300
5057,Dr. Prahlad Shenava,"MBBS, MD - Obstetrics & Gynaecology",Dentist,12 years experience overall,"Whitefield,",Bangalore,98%,58 Patient Stories,₹300

In [6]:
for column in df.columns:
  print(df[column].value_counts())
  print("-"*20)

Dr. Mutyalatha Koppula                    6
Dr. Garima Sharma                         5
Dr. Pannam Sharma                         4
Dr. Bandana Sodhi                         4
Dr. Rashmi Naik N                         4
                                         ..
Dr. Munira Mamnoon   (Physiotherapist)    1
Dr. Ajay   (Physiotherapist)              1
Dr. Rajani Patil   (Physiotherapist)      1
Dr. Kunjal Shah   (Physiotherapist)       1
Dr. Prahlad Shenava                       1
Name: Name, Length: 4241, dtype: int64
--------------------
BDS                                                            343
MBBS, MD - Obstetrics & Gynaecology                            217
MBBS, MS - Obstetrics & Gynaecology                            201
MBBS, MS - Orthopaedics                                        187
MBBS, MD - Pediatrics                                          172
                                                              ...
MBBS, MCh - Urology                                              1
MBBS, MD - Psychological Medicine                                1
M.D. (Psychiatry), MBBS, DNB - Psychiatry                        1
MBBS, DM - Cardiology, MRCP (UK)                                 1
BDS, MDS - Orthodontics and Dentofacial Orthopaedics, MOrth      1
Name: Degree, Length: 929, dtype: int64
--------------------
Dentist                      826
Gynecologist/Obstetrician    747
Pediatrician                 467
Orthopedist                  435
Infertility Specialist       400
Dermatologist                362
Physiotherapist              293
Ophthalmologist              277
Cardiologist                 196
Psychiatrist                 165
Urologist                    153
Gastroenterologist           131
Dietitian/Nutritionist       129
Neurosurgeon                 119
Neurologist                  106
Pulmonologist                 98
Bariatric Surgeon             78
Rheumatologist                41
Chiropractor                   8
Name: Specialization, dtype: int64
--------------------
14 years experience overall    294
12 years experience overall    293
13 years experience overall    269
11 years experience overall    238
16 years experience overall    236
                              ...
60 years experience overall      2
63 years experience overall      1
61 years experience overall      1
58 years experience overall      1
57 years experience overall      1
Name: Experience, Length: 61, dtype: int64
--------------------
Whitefield,           127
Bannerghatta Road,    125
Sarita Vihar,         124
Indiranagar,          105
HSR Layout,           104
                     ...
Bandra,                 1
Subhash Nagar,          1
Kalina,                 1
Patel Nagar,            1
Khanpur,                1
Name: Location, Length: 403, dtype: int64
--------------------
Bangalore    2049
Delhi        1674
Mumbai       1318
Name: City, dtype: int64
--------------------
100%    1554
99%      402
98%      400
97%      338
96%      234
        ...
37%        1
52%        1
47%        1
20%        1
58%        1
Name: Recommendation, Length: 61, dtype: int64
--------------------
1 Patient Story         277
2 Patient Stories       202
3 Patient Stories       162
5 Patient Stories       140
6 Patient Stories       131
                       ...
388 Patient Stories       1
1423 Patient Stories      1
381 Patient Stories       1
173 Patient Stories       1
1122 Patient Stories      1
Name: Feedback, Length: 391, dtype: int64
--------------------
₹1000    624
₹500     616
₹800     461
₹600     399
₹1500    374
        ...
₹480       1
₹670       1
₹1900      1
₹4100      1
₹669       1
Name: Fees, Length: 73, dtype: int64
--------------------

In [ ]:
degree_count = df['Degree'].value_counts()
degree_count_less_10 = degree_count[degree_count <=10]
df['Degree'] = df['Degree'].apply(lambda x: 'other' if x in degree_count_less_10 else x)

In [ ]:
Location_count = df['Location'].value_counts()
Location_count_less_10 = Location_count[Location_count <=10]
df['Location'] = df['Location'].apply(lambda x: 'other' if x in Location_count_less_10 else x)

In [ ]:
df['Location'].value_counts()

other                 1011
Whitefield             126
Sarita Vihar           124
Bannerghatta Road      124
Indiranagar            105
                      ...
Kumaraswamy Layout      11
Andheri                 11
Opera House             11
RT Nagar                11
Hulimavu                11
Name: Location, Length: 107, dtype: int64

In [ ]:
df.drop(columns='Name', inplace=True)

In [ ]:
df.head()

,Degree,Specialization,Experience,Location,City,Recommendation,Feedback,Fees
0,BDS,Dentist,17,Vasant Vihar,Delhi,99,623,500
1,BDS,Dentist,15,Janakpuri,Delhi,97,108,500
2,BDS,Dentist,14,Punjabi Bagh,Delhi,98,96,300
3,MDS,Dentist,16,Saket,Delhi,92,104,300
4,BDS,Dentist,10,Rohini Sector 18,Delhi,10,74,400

In [ ]:
X= df.drop(columns='Fees')
Y = df['Fees']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
X_train,X_test,Y_train,Y_test =train_test_split(X,Y, test_size=0.2,random_state=45)

In [ ]:
X_train.shape

(4021, 7)

In [ ]:
Y_train.shape

(4021,)

Apply Linear Regression

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['Degree',	'Specialization','Location',	'City']))

In [ ]:
column_trans

ColumnTransformer(transformers=[('onehotencoder', OneHotEncoder(sparse=False),
                                 ['Degree', 'Specialization', 'Location',
                                  'City'])])

In [ ]:
scaler = StandardScaler()

In [ ]:
lr = LinearRegression(normalize=True)

In [ ]:
pipe =make_pipeline(column_trans,scaler,lr)

In [ ]:
pipe.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Degree', 'Specialization',
                                                   'Location', 'City'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [ ]:
Y_pred_lr= pipe.predict(X_test)

In [ ]:
r2_score(Y_test,Y_pred_lr)

0.535325133815034

Applying Lasso

In [ ]:
lasso =Lasso()

In [ ]:
pipe = make_pipeline(column_trans,scaler, lasso)

In [ ]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Degree', 'Specialization',
                                                   'Location', 'City'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [ ]:
Y_pred_lasso = pipe.predict(X_test)

In [ ]:
r2_score(Y_test,Y_pred_lasso)

0.5366070468728203

Applying Ridge

In [ ]:
ridge =Ridge()

In [ ]:
pipe = make_pipeline(column_trans,scaler, ridge)

In [ ]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Degree', 'Specialization',
                                                   'Location', 'City'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [ ]:
Y_pred_ridge = pipe.predict(X_test)

In [ ]:
r2_score(Y_test,Y_pred_ridge)

0.5346153321724705

In [ ]:
print("Linear Regression", r2_score(Y_test,Y_pred_lr))
print("Lasso", r2_score(Y_test,Y_pred_lasso))
print("Ridge", r2_score(Y_test,Y_pred_ridge))

Linear Regression 0.535325133815034
Lasso 0.5366070468728203
Ridge 0.5346153321724705

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe, open('RidgeModel.pkl','wb'))